version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: my_lib_app
    container_name: my_lib_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    ports:
      - "8000:8000"
    command: php artisan serve --host=0.0.0.0 --port=8000
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: my_lib_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: my_library_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: root
      MYSQL_USER: laravel_user
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
  
  pma:
    image: phpmyadmin/phpmyadmin
    container_name: php_lib_pma
    links:
      - db:db
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root

volumes:
  dbdata: